.speciality-container{
    /* background-color: ghostwhite; */

}
.speciality{
    height: 300px;
}
.speciality-img img{
    width: 100px;
}
.speciality-img{
    height: 150px;
}
.book-this-btn{
    text-decoration: none;
    color:white;
}