.speciality-container{
    background-color: white;
    border-color:violet;

}
.speciality{
    height: 300px;
}
.speciality-img img{
    width: 100px;
}
.speciality-img{
    height: 150px;
}
.book-this-btn{
    text-decoration: none;
    color:white;
}
.card-animation:hover{
    transition: 0.4s;
    transform: translateY(-20px);
}