.article-card{
    height: 750px;
}
.article-img{
    width: 100%;
    height: 300px;
    object-fit:fill;
}
.article-card-title{
    height: 100px;
    color:#72569d;
    font-weight: bold;
}
.article-card-description{
    height: 150px;
}

.card-footer{
    height: 80px;
}
.card-footer img{
    width: 30px;
    /* border-radius: 50%; */
}
/* #more-articles{
    width: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
} */