@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
.form-container{
    font-family: 'PT Serif', serif;
    font-weight: bold;
}
.register-container{
    background-color: burlywood;
    height: 100vh;
}
.form-container{
    /* height: 40vh; */
    width: 100%;
}
