.banner{
    background-color: #fef5ed;
    /* height: 80vh; */
}
/* #banner-text{
    padding-left: 200px;
} */

.video-call{
    text-decoration: underline;
    color:#72569d;
}
.btn-theme-purple{
    background-color:#72569d;
    color: black;
    font-weight:400;
    border-color: burlywood;
}
.btn-theme-purple:hover{
    background-color: burlywood;
    color: black;
    
}
.btn-theme-white{
    background-color: white;
    color:#72569d;
    border-color: burlywood;
    font-weight: 700;
}
.btn-theme-white:hover{
    background-color: burlywood;
    color: black;
    
}
#banner-img img{
    
    /* height: 900px; */
}
